* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

.my-info nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.my-info nav a {
  list-style-type: none;
  text-decoration: none;
  padding: 17px 25px;
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.first-background {
  width: 100%;
  height: 115vh;
  background-image: url('./images/frontpage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.first-background h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
  margin: -3px 10px 10px 0;
  padding: 120px 20px 10px 22px;
}

.first-background p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 2px 10px 10px 0;
  padding: 8px 20px 10px 22px;
  color: #344563;
}

.first-background .connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500.25;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 2px 10px 10px 0;
  padding: 8px 20px 10px 22px;
  list-style-type: none;
  text-decoration: none;
}

.footer li {
  list-style-type: none;
  text-decoration: none;
}

.first-background ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px 10px 12px;
}

.section-one ul a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
}

.first-background ul li a {
  padding-left: 10px;
  align-items: center;
  text-align: center;
}

.card-1 {
  height: 99vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/mobile-card1.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.section-one h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 250px 1px 1px 19px;
  margin-bottom: 12px;
}

.card-2 h2 {
  padding-right: 20px;
}

.card-4 h2 {
  padding-right: 20px;
}

.section-one h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #344563;
  padding: 0 10px 0 21px;
}

.section-one .span1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.span1 .span2 {
  padding-left: 10px;
}

.section-one span {
  word-spacing: 4px;
}

.section-one p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px 0 21px;
  line-height: 24px;
  color: #344563;
  margin: 15px 0 15px 0;
}

.section-one ul {
  display: flex;
  padding-left: 21px;
}

.section-one ul li {
  padding-right: 8px;
  margin: 20px 0;
  list-style-type: none;
  text-align: center;
}

.section-one button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  color: #396df2;
  border: 1px solid #396df2;
  line-height: 24px;
  border-radius: 5px;
  letter-spacing: 0.03em;
  margin: 15px 0 15px 21px;
}

.btn {
  width: 132px;
  height: 46px;
  background: #fff;
  text-align: center;
}

.card-2 {
  height: 107vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/mobile-card2.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.card-3 {
  height: 99vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/moble-card3.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.card-4 {
  height: 107vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/moble-card4.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.about-me {
  width: 100%;
  height: 81vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-top-right-radius: 90px;
  background-color: #fff;
  margin: -3px auto;
}

.about-me h2 {
  padding-top: 90px;
}

.about-me ul li a {
  background-color: #fff;
}

.about-me .connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  margin-left: 21px;
  list-style-type: none;
  text-decoration: none;
  color: #7f8cff;
}

.about-me .btn {
  width: 150px;
}

.footer {
  height: 135vh;
  background-color: #fff;
}

.footer h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  margin: -9px 0 0 41px;
  padding: 40px 0;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.footer ul li {
  padding-right: 10px;
  height: 59px;
  width: 259px;
  background: #f7f7f9;
  border-radius: 8px;
}

.footer .tech-logo1 {
  margin: 4px 30px -20px -91px;
}

.footer .tech-logo2 {
  margin: 4px 30px -20px -102px;
}

.footer .tech-logo3 {
  margin: 4px 30px -20px -112px;
}

.footer .greater-than {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.greater-than h4 {
  margin-top: 34px;
  font-size: 35px;
  font-weight: 500;
  color: #acb7c3;
}

.footer .vee {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.vee h4 {
  margin-top: 34px;
  font-size: 15px;
  font-weight: normal;
  color: #acb7c3;
}

.footer hr {
  width: 80%;
  margin: 0 auto;
}

.contact-me-img1 {
  background-image: url('./images/contact-me-topright.png');
  background-size: 70px;
  background-position: right -1px top 21px;
  background-repeat: no-repeat;
  height: 12vh;
  margin-top: 10px;
  margin-bottom: -9px;
  color: #fff;
}

.contact-me-img2 {
  background-image: url('./images/contact-me-\ topright2.png');
  background-size: 55px;
  background-position: right -2px top 7px;
  background-repeat: no-repeat;
  height: 23vh;
  margin-top: -27px;
  color: #fff;
}

.contact-me-img3 {
  background-image: url('./images/contact-me\ topcenter.png');
  background-size: 30px;
  background-position: left 168px top 10px;
  background-repeat: no-repeat;
  height: 10vh;
  margin-top: -123px;
  margin-bottom: 94px;
  color: #fff;
}

.contact-me-img4 {
  background-image: url('./images/contact-me\ bottom1.png');
  background-size: 70px;
  background-position: left 235px bottom 0;
  background-repeat: no-repeat;
  height: 13vh;
  margin-top: -126px;
  color: #fff;
}

.contact-me-img5 {
  background-image: url('./images/contact-me\ bottom2.png');
  background-size: 36px;
  background-position: left 226px bottom 14px;
  background-repeat: no-repeat;
  height: 16vh;
  margin-top: -75px;
  color: #fff;
}

.contact-me {
  width: 100%;
  height: 121vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-top-left-radius: 90px;
  background: #6070ff;
  margin: -83px auto;
}

.contact-me h2 {
  color: #fff;
  text-align: center;
  margin-top: -74px;
  padding-top: 2px;
}

.contact-me p {
  text-align: center;
  margin: 0 20px 10px 20px;
  color: #fff;
}

.contact-me ul {
  display: flex;
  flex-direction: column;
}

.contact-me button {
  margin: -13px 0 36px 40px;
  align-items: center;
}

.btn:enabled {
  background: #172b4d;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #172b4d;
  color: #acb7c3;
}

.btn:active {
  background: #172b4d;
  color: #fff;
}

.input-details {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  align-items: center;
  color: #fff;
  margin: 10px;
}

input {
  border: 1px solid #cfd8dc;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
  width: 290px;
}

.text-area {
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
}

textarea {
  border: 1px solid #cfd8dc;
  overflow: auto;
  outline: none;
  padding-top: 20px;
  padding-left: 12px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 290px;
  border-radius: 10px;
  margin: -24px 0 1px -23px;
}

.contact-me hr {
  border: 1px solid #0d151e;
  height: 1px;
  background: #0d151e;
  width: 120px;
  margin-left: 129px;
  margin-top: 39px;
}
