* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

.my-info nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.my-info nav a {
  list-style-type: none;
  text-decoration: none;
  padding: 17px 25px;
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.my-info ul {
  display: none;
}

.first-background {
  width: 100%;
  height: 115vh;
  background-image: url('./images/frontpage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.first-background h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
  margin: -3px 10px 10px 0;
  padding: 120px 20px 10px 22px;
}

.first-background p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 2px 10px 10px 0;
  padding: 8px 20px 10px 22px;
  color: #344563;
}

.first-background .connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500.25;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 2px 10px 10px 0;
  padding: 8px 20px 10px 22px;
  list-style-type: none;
  text-decoration: none;
}

.footer li {
  list-style-type: none;
  text-decoration: none;
}

.first-background ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px 10px 12px;
}

.first-background ul li a {
  padding-left: 10px;
  align-items: center;
  text-align: center;
}

.desktop-section {
  display: none;
}

.card-1 {
  height: 105vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/mobile-card1.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.card-section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 250px 1px 1px 19px;
  margin-bottom: 12px;
}

.card-2 h2 {
  padding-right: 20px;
}

.card-4 h2 {
  padding-right: 20px;
}

.card-section h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #344563;
  padding: 0 10px 0 21px;
}

.card-section .span1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.span1 .span2 {
  padding-left: 10px;
}

.card-section span {
  word-spacing: 4px;
}

.card-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px 0 21px;
  line-height: 24px;
  color: #344563;
  margin: 15px 0 15px 0;
}

.card-section ul {
  display: flex;
  padding-left: 21px;
}

.card-section ul li {
  text-decoration: none;
  padding-right: 8px;
  margin: 20px 0;
  list-style-type: none;
  text-align: center;
}

.card-section ul li a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  background: #ebebff;
  padding: 7px;
  border-radius: 8px;
}

.card-section button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  color: #396df2;
  border: 1px solid #396df2;
  line-height: 24px;
  border-radius: 5px;
  letter-spacing: 0.03em;
  margin: 15px 0 15px 21px;
}

.btn {
  width: 132px;
  height: 46px;
  background: #fff;
  text-align: center;
}

.card-2 {
  height: 111vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/mobile-card2.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.card-3 {
  height: 105vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/moble-card3.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.card-4 {
  height: 111vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  margin: 100px auto;
  width: 87%;
  background-image: url('./images/moble-card4.png');
  background-size: 90%;
  background-position: right 1em top 20px;
  background-repeat: no-repeat;
}

.footer-section {
  width: 100%;
  height: 81vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-top-right-radius: 90px;
  background-color: #fff;
  margin: -3px auto;
}

.about-me h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 250px 1px 1px 19px;
  margin-bottom: 12px;
  padding-top: 90px;
}

.about-me p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px 0 21px;
  line-height: 24px;
  color: #344563;
  margin: 15px 0 15px 0;
}

.about-me ul li a {
  background-color: #fff;
}

.about-me .connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  margin-left: 21px;
  list-style-type: none;
  text-decoration: none;
  color: #7f8cff;
}

.about-me ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 22px 20px 24px 12px;
}

.about-me ul li a {
  padding-left: 10px;
  align-items: center;
  text-align: center;
}

.about-me .btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  width: 150px;
  margin-left: 22px;
  border-radius: 7px;
  border: 1px solid #396df2;
}

.footer {
  height: 135vh;
  background-color: #fff;
}

.footer h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  margin: -3px 0 5px 41px;
  padding: 40px 0;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.footer ul li {
  padding: 10px 12px 10px 24px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 259px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0 34px 10px 13px;
}

.footer .tech-logo1 {
  margin: -8px 34px -20px -14px;
}

.footer .tech-logo2 {
  margin: -9px 35px -29px -15px;
}

.footer .tech-logo3 {
  margin: -9px 35px -29px -15px;
}

.footer .chevron-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}

.chevron-right i {
  /* margin-top: 43px; */
  /* font-size: 35px; */
  font-weight: 500;
  color: #acb7c3;
}

.footer .vee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}

.vee i {
  /* margin-top: 44px; */
  font-size: 15px;
  /* padding: 10px; */
  font-weight: normal;
  color: #acb7c3;
}

.footer hr {
  width: 80%;
  margin: 0 auto;
}

.contact-me-img1 {
  background-image: url('./images/contact-me-topright.png');
  background-size: 70px;
  background-position: right -1px top 35px;
  background-repeat: no-repeat;
  height: 12vh;
  margin-top: 10px;
  margin-bottom: -9px;
  color: #fff;
}

.contact-me-img2 {
  background-image: url('./images/contact-me-\ topright2.png');
  background-size: 55px;
  background-position: right -2px top 7px;
  background-repeat: no-repeat;
  height: 23vh;
  margin-top: -27px;
  color: #fff;
}

.contact-me-img3 {
  background-image: url('./images/contact-me\ topcenter.png');
  background-size: 30px;
  background-position: left 168px top 10px;
  background-repeat: no-repeat;
  height: 10vh;
  margin-top: -123px;
  margin-bottom: 94px;
  color: #fff;
}

.contact-me-img4 {
  background-image: url('./images/contact-me\ bottom1.png');
  background-size: 70px;
  background-position: left 235px bottom -1px;
  background-repeat: no-repeat;
  height: 13vh;
  margin-top: -111px;
  color: #fff;
}

.contact-me-img5 {
  background-image: url('./images/contact-me\ bottom2.png');
  background-size: 36px;
  background-position: left 226px bottom 14px;
  background-repeat: no-repeat;
  height: 16vh;
  margin-top: -75px;
  color: #fff;
}

.contact-me {
  width: 100%;
  height: 121vh;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-top-left-radius: 90px;
  background: #6070ff;
  margin: 589px auto 0 auto;
}

.contact-me h2 {
  color: #fff;
  text-align: center;
  margin-top: -74px;
  padding-top: 2px;
}

.contact-me p {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
}

.contact-me ul {
  display: flex;
  flex-direction: column;
}

.contact-me button {
  /* margin: -13px 0 36px 40px; */
  /* align-items: center; */
}

.btn:enabled {
  background: #fff;
  color: #396df2;
}

.btn:hover {
  background-color: #396df2;
  border: 1px solid #172b4d;
  color: #acb7c3;
}

.btn:active {
  background: #172b4d;
  color: #fff;
}

.input-details {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  align-items: center;
  color: #fff;
  margin: 10px auto;
  list-style-type: none;
}

input {
  border: 1px solid #cfd8dc;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
  width: 290px;
}

.text-area {
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
  margin: 10px auto;
  list-style-type: none;
}

textarea {
  border: 1px solid #cfd8dc;
  overflow: auto;
  outline: none;
  padding-top: 20px;
  padding-left: 12px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 290px;
  border-radius: 10px;
  margin: -17px 0 1px -23px;
}

.contact-me .btn {
  background-color: #fff;
  color: #6070ff;
  border-style: hidden;
  /* margin-left: 32px; */
  /* margin: 10px auto; */
  align-items: center;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  color: #396df2;
  border: 1px solid #396df2;
  line-height: 24px;
  border-radius: 5px;
  letter-spacing: 0.03em;
  margin: 2px 0 15px 10%;
  /* padding: 10px 15px 12px 20px; */
}

.contact-me hr {
  border: 1px solid #0d151e;
  height: 1px;
  background: #0d151e;
  width: 120px;
  margin-left: 129px;
  margin-top: 39px;
}

@media (min-width: 1024px) {
  .card-section {
    display: none;
  }

  .my-info ul {
    display: flex;
    margin: 20px 80px 10px 0;
  }

  .my-info ul li {
    list-style-type: none;
  }

  .my-info ul li a {
    color: #344563;
  }

  .harmburger {
    display: none;
  }

  .my-info .name {
    padding-left: 90px;
  }

  .first-background {
    width: 100%;
    height: 115vh;
    background-image: url('./images/Header\ bg@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #fff;
    border-bottom-left-radius: 90px;
  }

  .first-background h1 {
    padding: 261px 10px 15px 152px;
    width: 370px;
  }

  .first-background p {
    padding: 10px 10px 15px 152px;
    width: 798px;
  }

  .first-background .connect {
    padding: 10px 10px 15px 152px;
  }

  .first-background ul {
    padding: 10px 10px 15px 130px;
  }

  .desktop-section {
    display: block;
  }

  .box-one {
    height: 62vh;
    width: 80%;
    margin: 100px auto;
    padding: 20px 10px 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
  }

  .box-two {
    height: 62vh;
    width: 80%;
    margin: 100px auto;
    padding: 20px 10px 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
  }

  .box-three {
    height: 62vh;
    width: 80%;
    margin: 100px auto;
    padding: 20px 10px 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
  }

  .box-four {
    height: 62vh;
    width: 80%;
    margin: 100px auto;
    padding: 20px 10px 30px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
  }

  .desktop-section ul {
    display: flex;
    padding-left: 28px;
  }

  .desktop-section ul li {
    text-decoration: none;
    padding-right: 8px;
    margin: 20px 0;
    list-style-type: none;
    text-align: center;
  }

  .desktop-section ul li a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    background: #ebebff;
    padding: 7px;
    border-radius: 8px;
  }

  .desktop-section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    padding: 23px 9px 1px 28px;
    margin-bottom: 12px;
  }

  .desktop-section h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #344563;
    padding: 0 10px 0 21px;
  }

  .desktop-section .span1 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .span-section {
    display: flex;
    margin-left: 7px;
  }

  .span1 .span2 {
    padding-left: 10px;
  }

  .desktop-section span {
    word-spacing: 4px;
  }

  .desktop-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 0 20px 0 27px;
    line-height: 24px;
    color: #344563;
    margin: 15px 0 15px 0;
  }

  .desktop-section .btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 17px;
    margin: 20px 10px 20px 30px;
    border-radius: 5px;
    color: #396df2;
    background-color: #fff;
    border: 1px solid #dfe1e6;
  }

  .box-three .btn {
    background: #4053fc;
    color: #fff;
  }

  .footer-section {
    display: flex;
    height: 120vh;
    border-top-right-radius: 90px;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    width: 500px;
  }

  .footer ul li {
    padding: 64px 12px 10px 24px;
    height: 34px;
    width: 259px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 10px 43px 2px 9px;
  }

  .footer .tech-logo1 {
    margin: -58px 18px 23px 0;
  }

  .footer .tech-logo2 {
    margin: -58px 18px 23px -4px;
  }

  .footer .tech-logo3 {
    margin: -58px 18px 23px -10px;
  }

  .footer h3 {
    margin: 57px 20px -22px 42px;
  }

  .vee h4 {
    margin-top: 105px;
  }

  .greater-than h4 {
    margin-top: 94px;
  }

  .contact-me {
    width: 100%;
    height: 121vh;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-top-left-radius: 90px;
    background: #6070ff;
    margin: -62px auto 0 auto;
  }

  .footer {
    height: 71vh;
    background-color: #fff;
  }

  .contact-me p {
    width: 650px;
    font-size: 27px;
  }

  .contact-me h2 {
    color: #fff;
    text-align: center;
    margin-top: -74px;
    padding-top: 2px;
    font-size: 30px;
  }

  input {
    width: 570px;
  }

  textarea {
    width: 570px;
  }

  .contact-me .btn-get {
    margin: 0 auto;
    align-items: center;
  }

  .contact-me-img4 {
    background-image: url('./images/contact-me\ bottom1.png');
    background-size: 70px;
    background-position: left 855px bottom 0;
    background-repeat: no-repeat;
    height: 13vh;
    margin-top: -126px;
    color: #fff;
  }

  .contact-me-img5 {
    background-image: url('./images/contact-me\ bottom2.png');
    background-size: 36px;
    background-position: left 851px bottom 32px;
    background-repeat: no-repeat;
    height: 16vh;
    margin-top: -75px;
    color: #fff;
  }

  .contact-me hr {
    display: none;
  }

  .btn-get {
    margin: 10px auto;
    align-items: center;
  }
}
